
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PayLink</title>
</head>
<body>
    <div> 
        <img src="@ViewBag.Img" border="0"/>
    </div>
</body>
</html>
