<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Hello {%= sname %},</p><br />
    <p>Order ID {%= orderid %} has been received by us and we would like to request you to begin working on this order so that the customer can receive this order on time. </p>
    <br />
    <p>
        The customer should receive the order between {%= sETA %}
        and {%= eETA %}
    </p><br />
    <p>Please contact us on support@spiritzone.in or 88828 99899 if you have face any issues or have any questions.</p>
    <br />
    <p>
        You can log into your account (hyperlink to <a href="{%= website %}" target="_blank">{%= website %}</a>)
        with the credentials shared with you to view your orders.
    </p>
    <br /><br />
    <p>
        Regards,<br />
        Team Spiritzone.
    </p>
</body>
</html>