<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RainbowConnection" connectionString="server=35.154.231.25;Database=rainbowwinedev;UId=boxwishuser;pwd=rumD@r0win213;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMSCancel" value="This is an order cancellation message for Order ID :{0}, as we did not receive the payment within the 1 hour window. Kindly place a new order and try again." />
    <add key="SMSUrl" value="https://api.msg91.com/api/v2/sendsms" />
    <add key="SMSKey" value="329093AtgG7pev5ebc1e75P1" />
    <add key="SMSTextCom" value="https://api.textlocal.in/send" />
    <add key="SMSTextComKey" value="lA22nrf8VDA-pmfJUXhsC1qSoxmcRocJsU1soFDC39" />
    <add key="RefundStatusUrl" value="https://localhost:44308/orders/refundstatuspay" />
    <add key="CronType" value="0" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>