<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-RainbowWine-20200513105908.mdf;Initial Catalog=aspnet-RainbowWine-20200513105908;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="RainbowConnection" connectionString="server=13.233.218.221;Database=rainbowwine;UId=botuser;pwd=Areyouabonobo?;" providerName="System.Data.SqlClient" />
    <!--<add name="RainbowWineEntities" connectionString="metadata=res://*/Data.RainbowWine.csdl|res://*/Data.RainbowWine.ssdl|res://*/Data.RainbowWine.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.233.218.221;initial catalog=rainbowwine;user id=botuser;password=Areyouabonobo?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="rainbowwineEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.233.218.221;initial catalog=rainbowwine;user id=botuser;password=Areyouabonobo?;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="SMSSubmitted" value="Thank you for placing the order with Spiritzone. Your Order ID is {0}. You must have received a PayTm link. Kindly make the payment using the same." />
    <add key="SMSApproved" value="We have received the payment for your Order ID: {0}. A separate message will be sent once the order is out for delivery." />
    <add key="SMSPacked" value="Hello! Your order number {0} is packed and ready for dispatch. The delivery agent will pick it up shortly." />
    <add key="SMSOutForDelivery" value="You Order ID: {0} with Spiritzone is out for delivery. You should receive the order in the next 1 - 2 Hours. Please report if any delivery personal asks for tips or delivery charges. We provide free home delivery." />
    <add key="SMSDelivered" value="Hello! Your order number {0} has been delivered on {1}. Thank you for choosing Spiritzone. We appreciate your support." />
    <add key="SMSiOSPayLink" value="Hello {0}, Spiritzone is requesting a payment of Rs. {1} towards your order ID {2}. Your link to pay is: {3}. Please ignore if already paid." />
    <add key="SMSPreOrderSubmit" value="Thank you for placing the pre-order with Spiritzone on {0}. This is a pre-order confirmation message for Order ID: {1}. You will receive a payment link once our deliveries start after receiving the necessary permissions. Thank you!" />
    <add key="SMSRefund" value="Your refund for the amount {0} has been initiated for Order Id {1} with Spiritzone." />
    <add key="SMSRefundStatus" value="Your amount {0} for the order ID {1} has been successfully refunded." />
    <add key="SMSGenToken" value="Your Spiritzone verification code is {0}" />
    
    <add key="SMSUrl" value="https://api.msg91.com/api/v2/sendsms" />
    <add key="SMSKey" value="329093AtgG7pev5ebc1e75P1" />    
    <add key="SMSTextCom" value="https://api.textlocal.in/send" />
    <add key="SMSTextComKey" value="lA22nrf8VDA-pmfJUXhsC1qSoxmcRocJsU1soFDC39" />
    
    <!--<add key="PayUrl" value="https://api.bharatpe.in/startTxn" />
    <add key="Paymid" value="I5ZUAMCPKGD0GSU5TX0K" />
    <add key="PaySecret" value="ssQKsfftUqA3r7cHS6UFJ9lVPF0djulf" />
    <add key="PayStoreID" value="9485" />-->
    <!--<add key="PtmCreateUrl" value="https://securegw-stage.paytm.in/link/create" />-->
    <add key="PtmCreateUrl" value="https://securegw.paytm.in/link/create" />
    <add key="PtmReSendUrl" value="https://securegw-stage.paytm.in/link/resendNotification" />
    <add key="PtmReFundUrl" value="https://securegw.paytm.in/refund/apply" />
    <add key="PtmReFundStatusUrl" value="https://securegw.paytm.in/v2/refund/status" />
    <add key="PtmMaxLimitRefund" value="4" />
    <add key="PtmMaxLimitReSend" value="4" />
    <!--<add key="PtmMid" value="Chetan09383500136615" />-->
    <add key="TestOrder" value="1" />
    <add key="QAuth" value="http://13.234.223.95:60837/getticket/administrator/" />
    <add key="QContent" value="https://ec2amaz-j836kgo.qonverse.ai/content/Default/spiritlocalauth.html" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>