@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        string menuuserType = ViewBag.UserType as string;
        int dlogin = Convert.ToInt32(ViewBag.DeliveryLogin);

        string showtext = dlogin == 0 ? "On Duty" : "Off Duty";
        string onofftext = dlogin == 0 ? "Login" : "Log off";

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            @if (string.Compare(menuuserType, "deliver", true) == 0)
            {
        <li>@Html.ActionLink(showtext, "OnOffDuty", "DeliveryAgents", new { duty = dlogin }, new { @onclick = "javascript:if (confirm('Are you sure do you want to " + onofftext + " for the day.')) { return true; }else{return false;}" })</li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        @section scripts{
            <script>
                function validateDuty() {
                    
                }
            </script>
        }
    }
}
else
{

    <ul class="nav navbar-nav navbar-right">

        <li>@*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}