@{
    ViewBag.Title = "TrackDelAgent";
}

<h2>Delivery Agent Tracking</h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="@ViewBag.TrackDelAgent" style="
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 20px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    " allowfullscreen class="embed-responsive-item" title="Iframe Example"></iframe>
</div>