@{
    ViewBag.Title = "TrackAllAgents";
}
<h2>Track All Agents</h2>
<div class="embed-responsive embed-responsive-16by9">
    <iframe src="@ViewBag.TrackAllDelAgent" style="
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 120px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    " allowfullscreen title="Iframe Example"></iframe>
</div>