<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RainbowConnection" connectionString="server=35.154.231.25;Database=rainbowwinedev;UId=boxwishuser;pwd=AnotherOne$345;" providerName="System.Data.SqlClient" />
    <add name="rainbowwineEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=35.154.231.25;initial catalog=rainbowwinedev;user id=boxwishuser;password=AnotherOne$345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/> 

	  <!--<add name="RainbowConnection" connectionString="server=52.183.163.111;Database=rainbowwine;UId=shiv;pwd=ShivWonCricket@456;" providerName="System.Data.SqlClient" />
	  <add name="rainbowwineEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=52.183.163.111;initial catalog=rainbowwine;user id=shiv;password=ShivWonCricket@456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
	  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="issuer" value="SpiritZoneIssuer" />
	  <add key="audience" value="SpiritZoneAudience" />
	  <add key="key" value="XGrTLFwnBq4!3cQ62PR@" />
    <add key="PtmSpiritUrl" value="https://dev.spiritzone.in" />

	  <add key="Ips" value="182.72.70.178,0.0.0.0, 127.0.0.1,35.154.231.25,52.183.165.53"/>

	  <add key="SMSSubmitted" value="Thank you for placing the order with Spiritzone. Your Order ID is {0}. You must have received a PayTm link. Kindly make the payment using the same." />
	  <add key="SMSApproved" value="We have received the payment for your Order ID: {0}. A separate message will be sent once the order is out for delivery. For support call 8882899899" />
	  <add key="SMSPacked" value="Hello! Your order number {0} is packed and ready for dispatch. The delivery agent will pick it up shortly." />
	  <add key="SMSOutForDelivery" value="You Order ID: {0} with Spiritzone is out for delivery. You should receive the order within 90 minutes." />
	  <add key="SMSDelivered" value="Hello! Your order number {0} has been delivered on {1}. Thank you for choosing Spiritzone. We appreciate your support." />
	  <add key="SMSiOSPayLink" value="Hello {0}, Spiritzone is requesting a payment of Rs. {1} towards your order ID {2}. Your link to pay is: {3}. Please ignore if already paid." />
	  <add key="SMSPreOrderSubmit" value="Thank you for placing the pre-order with Spiritzone on {0}. This is a pre-order confirmation message for Order ID: {1}. You will receive a payment link once our deliveries start after receiving the necessary permissions. Thank you!" />
	  <add key="SMSRefund" value="Your refund for the amount {0} has been initiated for Order Id {1} with Spiritzone." />
	  <add key="SMSRefundStatus" value="Your amount {0} for the order ID {1} has been successfully refunded." />
	  <add key="SMSGenToken" value="Your Spiritzone verification code is {0}" />
	  <add key="CFPartialPay" value="Hello! Spiritzone is requesting an additional payment of Rs. {0} towards your Order ID {1}. Please use the following link to make the payment {2}"/>
	  <add key="CFPartialRefund" value="Hello! Spiritzone has initiated a refund of Rs. {0} against your order ID {1}. Your refund will be credited back to the payment source used for placing the order. Please expect the refund to be processed in 7-10 days." />
	  <add key="CFResendLink" value="Hello! Spiritzone is requesting an payment of Rs. {0} towards your Order ID {1}. Please use the following link to make the payment {2}" />
	  <add key="SendSMSToCust" value="Enjoy the largest selection of booze with Spiritzone. Download our app and get free home delivery: Android: https://bit.ly/3hFHbys   iOS: https://apple.co/30VQBPI" />
	  <add key="SMSSubmittedForCash" value="Thank you for placing the order with Spiritzone. Your Order ID is {0}. Kindly make the cash payment once the delivery boy reaches your doorstep." />
	  
	<!--Flows-->
	<add key="SMSDeliveredFlowId" value="607d3e6acb5acb0e0f2e57b4"/>
	<add key="SMSSubmittedForCashFlowId" value="607d370ca7afdf61eb00a5d7"/>
	<add key="SMSOutForDeliveryFlowId" value="607d36dd92302d30480eeff5"/>
	<add key="SMSSubmittedFlowId" value="607d35f368640a23ee17e39c"/>
	<add key="SMSGenTokenFlowId" value="607d350a8c734c08eb1c4c6c"/>
	<add key="SMSSendPaymentLinkFlowId" value="607d3647bc7e105ed405f8fc"/>
	<add key="SMSSendPaymentLinkCashfreeFlowId" value="61d59813fdfd94345b74b4b3"/>
	<add key="SMSRefundFlowId" value="61dc168337c6b05cfb6dfc9c"/>
	<add key="SMSGiftRecipientFlowId" value="619df9063c5d6861d73ffada"/>
	<add key="SMSGiftAppdownloadlinkFlowId" value="6204f55eede6386690648c07"/>
	<add key="Appdownloadlink" value="https://spiritzone.onelink.me/Q8Yn/4f3df51d"/>
	  <!--Flow end-->
	  
    <add key="SMSUrl" value="https://api.msg91.com/api/v2/sendsms" />
    <add key="SMSKey" value="329093AtgG7pev5ebc1e75P1" />    
    <add key="SMSTextCom" value="https://api.textlocal.in/send" />
    <add key="SMSTextComKey" value="lA22nrf8VDA-pmfJUXhsC1qSoxmcRocJsU1soFDC39" />
    
    <!--<add key="PayUrl" value="https://api.bharatpe.in/startTxn" />
    <add key="Paymid" value="I5ZUAMCPKGD0GSU5TX0K" />
    <add key="PaySecret" value="ssQKsfftUqA3r7cHS6UFJ9lVPF0djulf" />
    <add key="PayStoreID" value="9485" />-->
    <!--<add key="PtmCreateUrl" value="https://securegw.paytm.in/link/create" />-->
    <add key="PtmCreateUrl" value="https://securegw-stage.paytm.in/link/create" />
    <add key="PtmReSendUrl" value="https://securegw-stage.paytm.in/link/resendNotification" />
    <add key="PtmReFundUrl" value="https://securegw-stage.paytm.in/refund/apply" />
    <add key="PtmReFundStatusUrl" value="https://securegw-stage.paytm.in/v2/refund/status" />
    <add key="PtmMaxLimitRefund" value="4" />
    <add key="PtmMaxLimitReSend" value="4" />
	  
    <!--<add key="PtmMid" value="Chetan09383500136615" />-->
	  
    <add key="TestOrder" value="0" />
    <add key="QAuth" value="http://3.7.166.10:60387/getticket/administrator/" />
    <add key="QContent" value="https://ec2amaz-cp0fntp.spiritzone.in/content/Default/spiritlocalauth.html" />	  
    
	<!--<add key="PayFreeId" value="6144367b6d45970edae457ef834416" />
	<add key="PayKey" value="66ff354aaa4c222f9476c9b2384da6b3d633db25" />-->
    <!--<add key="PayFreeId" value="182057ad785eac01f5b56781450281" />-->
	  <!--<add key="PayKey" value="3e50f46db962973f9b1b681ef34fcc8685f80fe2" />-->
    <add key="PayFreeId" value="28187684ec9eef99a7361d12478182" />
    <add key="PayKey" value="3b00c80360dfa72818c498ac488d50dd45430540" />
    <add key="PayTokenUrl" value="https://test.cashfree.com/api/v2/cftoken/order" />
    <add key="PayCreateSMS" value="https://api.cashfree.com/api/v1/order/sms" />
	  <add key="PayCreate" value="https://test.cashfree.com/api/v1/order/create" />
	  <add key="PayRefund" value="https://test.cashfree.com/api/v1/order/refund" />

    <add key="CashFreeNotifyUrl" value="https://dev.spiritzone.in/payment/cashfree/notify" />
    <add key="CashFreeReturnUrl" value="https://dev.spiritzone.in/payment/cashfree/return" />
    <add key="PayNotifyUrl" value="https://dev.spiritzone.in/payment/cashfree/issue/notify" />
    <add key="PayReturnUrl" value="https://dev.spiritzone.in/payment/cashfree/issue/return" />
    <add key="PayModifyNotifyUrl" value="https://dev.spiritzone.in/payment/cashfree/modify/notify" />
    <add key="PayModifyReturnUrl" value="https://dev.spiritzone.in/payment/cashfree/modify/return" />
	  <!--<add key="PayFreeId" value="6144367b6d45970edae457ef834416" />
	  <add key="PayKey" value="66ff354aaa4c222f9476c9b2384da6b3d633dlb25" />
	  <add key="PayTokenUrl" value="https://test.cashfree.com/api/v2/cftoken/order" />-->
	  <add key="CashfreePaymentStatus" value="https://api.cashfree.com/pg/orders/{order_id}/payments" />
	  <add key="CashFreePaymentApiVersion" value="2021-05-21" />

	  <add key="TrackEmail" value="kbkunalbhalerao@gmail.com" />
	  <add key="PremitValue" value="5" />
	  <add key="MinTotalAmtOrd" value="1000" />
	  <add key="DelTrackUrl" value="https://vmtrack.spiritzone.in/delindex.aspx?id={0}" />
	  <add key="ZohoUrl" value="https://desk.zoho.in/api/v1/tickets" />
	  <add key="ZohoCloseUrl" value="https://desk.zoho.in/api/v1/closeTickets" />
	  <add key="ZohoAuth" value="e0028f52c2de7c4d70e7bc818a80ff49" />
	  <add key="ZohoOrg" value="60004934587" />
	  
	  <add key="redirect_uri" value="redirect_uri=dev.spiritzone.in/support_redirect" />
	  <add key="scope" value="scope=Desk.tickets.CREATE,Desk.tickets.UPDATE" />
	  <add key="grant_type" value="grant_type=refresh_token" />
	  <add key="client_secret" value="client_secret=2d752dc3fc3f47404c8eae07a3b74ad6413d32b776" />
	  <add key="client_id" value="client_id=1000.I73QY11QJY02DM9TI10ANUY3F0S9NV" />
	  <add key="ZohoRefreshUrl" value="https://accounts.zoho.in/oauth/v2/token?" />
	  <add key="ZohoRefreshToken" value="refresh_token=1000.6221b05d061875d75a53a1b768c11215.fb5a5da86ecc3a62a8282c416537c878" />

    <add key="NewUserSupportQues" value="As you have not placed an order with us yet, please let us know, how can we assist you?" />
    <add key="ExtApi" value="https://devwebapi.spiritzone.in/api"/>
	  <add key="ExtFCMApiCall" value="https://devwebapi.spiritzone.in/api"/>
    <!--<add key="ExtApi" value="http://localhost:61098/api" />-->
    <add key="OverAllDiscount" value="10" />

    <add key="MaxSMSResent" value="3" />
    <add key="Env" value="development" />
	<add key="EmailIds" value="shivkumar.prasad@quosphere.com" />
    <add key="From" value="payments@spiritzone.in" />
    <add key="SMTPServer" value="smtp.office365.com" />
    <add key="SMTPUsername" value="payments@spiritzone.in" />
    <add key="SMTPPassword" value="RCcku711" />

    <add key="UserProduct" value="http://35.154.231.25:1219/recommend/user_product" />
    <add key="ProductProduct" value="http://35.154.231.25:1219/recommend/product_product" />
    <add key="ProductLocation" value="http://35.154.231.25:1219/recommend" />
	<add key="AgentLocation" value="https://devwebapi.spiritzone.in/api/fcmdatabase/deliveryboylocation" />
    <add key="UserProductNum" value="15" />
    <add key="ProductProductNum" value="5" />
    <add key="ProductLocationNum" value="15" />
    <add key="ExpSessionMin" value="noiset" />
	<add key="SignUpCode" value="BONUS50" />
    <add key="DeliveryAppGeneralNotifURL" value="https://devwebapi.spiritzone.in/api/fcm/send-db-general-notif" />

	<add key="Msg91Key" value="329093AtgG7pev5ebc1e75P1"/>
	<add key="Msg91BaseUrl" value="https://api.msg91.com"/>
	<add key="Msg91SenderID" value="Spirit"/>
	  <add key="Msg91SenderIDRecipient" value="SPRTZN"/>
	<add key="Msg91Route" value="4"/>
	<add key="Msg91TempSendOTP" value="607d3372c5d3d41b174cb888"/>
	<add key="Msg91TempOrderDelivered" value="607d35f368640a23ee17e39c"/>
	<add key="WalletRefundMgs" value="{0}​​​ SZ coins credited to your Wallet"/>
	<add key="WalletRefundTitle" value="Refund Successful"/>
	<add key="HyperTrackStart" value="https://v3.api.hypertrack.com/devices/{DeviceID}/start" />
	<add key="HyperTrackStop" value="https://v3.api.hypertrack.com/devices/{DeviceID}/stop" />
	<add key="HyperTrackPatchUrl" value="https://v3.api.hypertrack.com/devices/{DeviceID} " />
	<add key="HyperTrackTripUrl" value="https://v3.api.hypertrack.com/trips/" />
	<add key="HyperTrackTripCompletedUrl" value="https://v3.api.hypertrack.com/trips/{tripid}/complete" />
	<add key="Radius" value="3000"/>
	<add key="ServiceTime" value="300"/>
	<add key="Giftnotiurl" value="http://devwebapi.spiritzone.in/api/v3.0/fcm/send-gift-notification/" />
	<add key="GiftSmsurl" value="https://localhost:44308/RecipientDetail" />
	<add key="CallingUrl" value="https://core.spiritzone.in/api/v1.0/supports/click-to-call/" />
	<add key="CallToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkMjEzMjg2Yy01NWVmLTRmZDMtODlkZS1mYWY2ZDk4YjJiMTIiLCJDdXN0b21lcklkIjoiMTE5MjgiLCJqdGkiOiJ0ZXN0QGVtYWlsLmNvbSIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6IkN1c3RvbWVyIiwiZXhwIjoxNjYzNDEyMTg4LCJpc3MiOiJTcGlyaXRab25lSXNzdWVyIiwiYXVkIjoiU3Bpcml0Wm9uZUF1ZGllbmNlIn0.IwPQqS6PIfmCxA_PfB2gqLX8_JJCiBJsm89y8PWfAyk" />
	<add key="WebEngageUrl" value="https://api.webengage.com/v1/accounts/d3a4a30a/events" />
	<add key="WebEngageToken" value="5a1c63e4-42e0-4ace-ad63-b549325ce736"/>
	  <add key="SchDeliveryText" value="Delivery on"/>
	  <add key="OrderStatuses" value="27"/>
	  <add key="ExtOrderAssign_Url" value="https://6ec7-2405-201-801b-505e-30ec-9b96-34b5-90d0.ngrok.io/assign" />
	  <add key="ExtAuthHeader" value="38OqBu1E7IwIK9An5BPbc9j7SKhKuWYh" />
	  <!--  AggrePay Start-->
	  <add key="SaltKey" value="980eaecb3371bccfabe6a14ac451673b458b7778"/>
	  <add key="ApiKey" value="817db6f5-69fd-4519-9501-50907908003a"/>
	  <add key="AggrePayMode" value="LIVE"/>
	  <add key="AggreCreatePaymentLinkUrl" value="https://biz.aggrepaypayments.com/v1/generatechallanurl"/>
	  <add key="AggreRefundUrl" value="https://biz.aggrepaypayments.com/v2/refundrequest"/>
	  <add key="AggreRefundStatus" value="https://biz.aggrepaypayments.com/v2/refundstatus"/>
	  
	  <!--  AggrePay End-->
      <add key="CustContactSecretKey" value="ServiceableSpiritzone52727637677764mjkhhd@@3!"/>
	  <add key="PrebookConfettiTitle" value="Congratulations! 2 Coupons Unlocked!"/>
	  <add key="PrebookConfettiBody" value="You just unlocked 2 Flat Rs. 75 coupons which can be availed after 30 and 60 days respectively on Amstel beer!"/>
	  <add key="PostOfferTitle" value="Get Flat Rs. 75 off!"/>
	  <add key="PostOfferSubTitle" value="Use code AMSTEL75 to get a flat Rs. 75 off your order value when you make your purchase in 1 month."/>
	    </appSettings>
  
  <system.web>
    <authentication mode="None" />
	  <compilation debug="true" targetFramework="4.7.2" >

		  <assemblies>
			  <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, 
            PublicKeyToken=cc7b13ffcd2ddd51"/>
		  </assemblies>
	  </compilation>
    <httpRuntime targetFramework="4.7.2" />
	  <!--<machineKey validationKey="21F090935F6E49C2C797F69BBAAD8402ABD2EE0B667A8B44EA7DD4374267A75D7AD972A119482D15A4127461DB1DC347C1A63AE5F1CCFAACFF1B72A7F0A281B"
            decryptionKey="261F793EB53B761503AC445E0CA28DA44AA9B3CF06263B77"
            validation="SHA1"/>-->
  </system.web>
  <system.webServer>
    <staticContent>
      <!-- required for apple-app-site-association: -->
      <mimeMap fileExtension="." mimeType="application/json" />
    </staticContent>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.9.0" newVersion="3.1.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.48.0.0" newVersion="1.48.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>