
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cocktail</title>
</head>
<body>
    <a href="https://spiritzone.onelink.me/Q8Yn/df7d135e">
        <img src="https://dev.spiritzone.in/content/images/cocktail_recipe.png" width="100%" />
    </a>
</body>
</html>
